<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_with_navbar_and_tagsinput_and_docs}">
<head>
    <title>查看项目</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-3 bd-sidebar">
            <form class="bd-search d-flex align-items-center">
                <input type="search" class="form-control" id="search-input" placeholder="搜索接口" aria-label="Search for..." autocomplete="off" data-docs-version="4.3">
                <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>菜单</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg></button>
            </form>
            <nav class="collapse bd-links" id="bd-docs-nav">
                <div class="bd-toc-item active">
                    <a class="bd-toc-link" th:href="|/project/${project.id}/view|">
                        项目管理
                    </a>
                </div>
                <div class="bd-toc-item" th:if="${project.groupList} != null" th:each="group:${project.groupList}">
                    <a class="bd-toc-link" th:href="|/group/${group.id}/view|" th:text="${group.name}">
                        分组管理
                    </a>
                    <ul class="nav bd-sidenav" th:if="${group.interfaceList}">
                        <li th:each="interface:${group.interfaceList}">
                            <a th:href="|/interface/${interface.id}/view|" th:text="${interface.name}">Introduction</a>
                        </li>
                    </ul>
                </div>
                <div class="d-none bd-toc-item active">
                    <a class="bd-toc-link" th:href="|/project/${project.id}/view|">
                        项目管理
                    </a>
                    <ul class="nav bd-sidenav">
                        <li class="active bd-sidenav-active">
                            <a href="introduction_2.htm">Introduction</a>
                        </li>
                        <li>
                            <a href="../download/download.htm">Download</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <main class="col-12 col-md-8 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
            <h1 class="bd-title" th:text="|项目：${project.name}|">项目名称</h1>
            <span class="bd-lead" th:if="${project.accessMode} == '公开'">
                <i class="fa fa-unlock"></i> 公开
            </span>
            <span class="bd-lead" th:if="${project.accessMode} == '私有'">
                <i class="fa fa-lock"></i> 私有
            </span>
            <br>
            <p class="bd-lead" th:text="${project.description}" th:if="${project.description}">项目介绍</p>
            <span class="bd-lead" th:if="${project.accessMode} == '私有'" id="shareUsernames"></span><br><br>
            <span class="bd-lead">项目部署地址</span>
            <table class="table">
                <thead><tr>
                    <th>环境</th>
                    <th>部署地址</th></tr>
                </thead>
                <tbody>
                <tr th:if="${project.deploymentList} != null" th:each="deployment:${project.deploymentList}">
                    <td th:text="${deployment.environment}"></td>
                    <td th:text="${deployment.deploymentUrl}"></td>
                </tr>
                </tbody>
            </table>
            <small class="text-muted" th:text="|创建于${project.createTime}|">创建时间</small>
            <small class="text-muted" th:text="|更新于${project.updateTime}|">更新时间</small><br>
            <small class="text-muted" th:if="${project.creator} != null" th:text="|创建者：${project.creator.username}|" data-toggle="tooltip" data-placement="right" th:title="${project.creator.email}">创建者</small><br>
            <small class="text-muted" th:if="${project.updater} != null" th:text="|更新者：${project.updater.username}|" data-toggle="tooltip" data-placement="right" th:title="${project.updater.email}">更新者</small><br>
            <br>
            <div class="row mb-1">
                <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#modifyProjectModal">修改项目信息</button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteProjectModal">删除项目</button>
            </div>
            <div class="row mt-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal">创建分组</button>
            </div>
        </main>
        <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">创建分组</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="createGroupAlertWarning" class="d-none alert alert-warning sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div id="createGroupAlertSuccess" class="d-none alert alert-success sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div class="form-group">
                            <label for="projectId">项目id</label>
                            <input type="text" readonly class="form-control" name="projectId" th:value="${project.id}">
                            <div class="invalid-feedback">项目id不能为null</div>
                        </div>
                        <div class="form-group">
                            <label for="groupName">分组名称</label>
                            <input type="text" class="form-control" id="groupName">
                            <div class="invalid-feedback">分组名称不超过32个字符</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="createGroup()">创建</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modifyProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 800px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">修改项目</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="modifyProjectAlertWarning" class="d-none alert alert-warning sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div id="modifyProjectAlertSuccess" class="d-none alert alert-success sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div class="form-group">
                            <label for="projectId">项目id</label>
                            <input type="text" readonly class="form-control" id="projectId" th:value="${project.id}">
                            <div class="invalid-feedback">项目id不能为null</div>
                        </div>
                        <div class="form-group">
                            <label for="projectName">项目名称</label>
                            <input type="text" class="form-control" id="projectName" th:value="${project.name}" placeholder="不超过32个字符">
                            <div class="invalid-feedback">项目名称不超过32个字符</div>
                        </div>
                        <div class="form-group">
                            <label for="projectDescription">项目介绍</label>
                            <textarea class="form-control" id="projectDescription" th:value="${project.description}" placeholder="不超过200个字符">
                                    </textarea>
                            <div class="invalid-feedback">项目介绍不超过200个字符</div>
                        </div>
                        <div class="form-group" id="projectAccessModeDiv">
                            <label for="projectAccessModeContent">访问模式</label>
                            <div id="projectAccessModeContent">
                                <div class="form-check form-check-inline">
                                    <input checked class="form-check-input" th:if="${project.accessMode} == '公开'" type="radio" id="publicRadio" name="projectAccessModeRadio" value="PUBLIC">
                                    <input class="form-check-input" th:if="${project.accessMode} == '私有'" type="radio" id="publicRadio" name="projectAccessModeRadio" value="PUBLIC">
                                    <label class="form-check-label" for="publicRadio">公开</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" th:if="${project.accessMode} == '公开'" type="radio" id="privateRadio" name="projectAccessModeRadio" value="PRIVATE">
                                    <input checked class="form-check-input" th:if="${project.accessMode} == '私有'" type="radio" id="privateRadio" name="projectAccessModeRadio" value="PRIVATE">
                                    <label class="form-check-label" for="privateRadio">私有</label>
                                </div>
                            </div>
                            <div class="invalid-feedback">访问模式必选</div>
                            <input type="hidden" id="projectAccessMode" th:if="${project.accessMode} == '公开'" value="PUBLIC">
                            <input type="hidden" id="projectAccessMode" th:if="${project.accessMode} == '私有'" value="PRIVATE">
                        </div>
                        <div id="shareUserDiv">
                            <label for="shareUserTagsInput">将项目分享给</label>
                            <div class="invalid-feedback" id="shareUserTagsFeedback">授权用户访问参数非法</div>
                            <input id="shareUserTagsInput" data-role="tagsinput">
                        </div>
                        <div>
                            <label for="projectDeploymentDiv">项目部署地址</label>
                            <div id="projectDeploymentDiv">
                                <div class="d-flex align-items-center">
                                    <select class="form-control d-inline ml-1 mr-1" id="projectDeploymentSelect" style="width: 140px">
                                        <option>开发环境</option>
                                        <option>测试环境</option>
                                        <option>生产环境</option>
                                        <option>自定义环境</option>
                                    </select>
                                    <button type="button" class="btn btn-primary ml-1" onclick="addProjectDeployment()"><i class="fa fa-plus"></i> 新增地址</button>
                                </div>
                                <table id="projectDeploymentTable" class="table">
                                    <thead><tr>
                                        <th>环境</th>
                                        <th>部署地址</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="projectDeploymentTrTemplate" class="d-none">
                                        <td>
                                            <input class="form-control" style="width: 140px" type="text" placeholder="环境名">
                                            <div class="invalid-feedback">项目部署环境名不超过32个字符</div>
                                        </td>
                                        <td>
                                            <input class="form-control" style="width: 300px" type="text" placeholder="项目部署地址，以http/https开头">
                                            <div class="invalid-feedback">项目部署地址不超过256个字符</div>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" type="button" onclick="$(this).parent().parent().remove()">
                                                <i class="fa fa-trash-alt"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    <tr th:each="deployment:${project.deploymentList}">
                                        <td>
                                            <input class="form-control" th:value="${deployment.environment}" style="width: 140px" type="text" placeholder="环境名">
                                            <div class="invalid-feedback">项目部署环境名不超过32个字符</div>
                                        </td>
                                        <td>
                                            <input class="form-control" th:value="${deployment.deploymentUrl}" style="width: 300px" type="text" placeholder="项目部署地址，以http/https开头">
                                            <div class="invalid-feedback">项目部署地址不超过256个字符</div>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" type="button" onclick="$(this).parent().parent().remove()">
                                                <i class="fa fa-trash-alt"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="modifyProject()">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">删除项目</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="deleteProjectSuccessAlert" class="d-none alert alert-success sticky-top" role="alert">
                            A simple success alert—check it out!
                        </div>
                        <div id="deleteProjectWarningAlert" class="d-none alert alert-warning sticky-top" role="alert">
                            A simple success alert—check it out!
                        </div>
                        您真的要删除这个项目吗？<br>
                        警告：项目下的所有分组、接口会被同时删除！
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-warning" onclick="deleteProject()">确认删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    const csrfToken = [[${_csrf.token}]];
    const projectId = [[${project.id}]];
    var groupName = $('#groupName');
    function createGroup() {
        var createGroupAlertSuccess = $('#createGroupAlertSuccess'),
            createGroupAlertWarning = $('#createGroupAlertWarning');
        if(isNaN(projectId)) {
            createGroupAlertSuccess.addClass('d-none');
            createGroupAlertWarning.removeClass('d-none');
            createGroupAlertWarning.html("页面存在错误，请刷新重试");
            return;
        }
        var paramObject = {
            name: groupName.val(),
        };
        var paramJson = JSON.stringify(paramObject);
        console.log(paramObject);
        console.log(paramJson);
        ajaxPostJsonFull('/project/' + projectId + '/group/create',paramJson,csrfToken,
            function (response) {
                console.log(response);
                if(response.success) {
                    createGroupAlertSuccess.removeClass("d-none");
                    createGroupAlertWarning.addClass("d-none");
                    createGroupAlertSuccess.html("分组创建成功，3秒后刷新页面");
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                } else {
                    createGroupAlertWarning.removeClass('d-none');
                    createGroupAlertSuccess.addClass('d-none');
                    createGroupAlertWarning.html(response.message);
                    if(response.data !== null) {
                        processErrorMsgItem(response.data.name, groupName);
                    }
                }
            },
            function (xhr) {
                createGroupAlertWarning.removeClass('d-none');
                createGroupAlertSuccess.addClass('d-none');
                createGroupAlertWarning.html('请求出错，状态码：'+xhr.status)
                console.log(xhr.responseText);
            }
        );
    }

    var shareUsernames = $('#shareUsernames');
    if(shareUsernames.length === 1) {
        var shareUserDTOs = [[${project.sharedUserList}]];
        var value = '允许访问的用户：';
        for(var i=0;i<shareUserDTOs.length;i++) {
            // value = value + shareUserDTOs[i].username + ",";
            value = value + "<span data-toggle='tooltip' data-placement='top' title='" + shareUserDTOs[i].email + "'>"
                + shareUserDTOs[i].username + "</span>,";
        }
        if(shareUserDTOs.length > 0) {
            value = value.substring(0, value.length - 1);
        }
        shareUsernames.html(value);
    }
    $('[data-toggle="tooltip"]').tooltip({
        delay: { "show": 0, "hide": 2000 }
    });
    var projectName = $('#projectName');
    var projectDescription = $('#projectDescription');
    projectDescription.val([[${project.description}]]);
    var tagsinput = $('input[data-role="tagsinput"]');
    var shareUserDiv = $('#shareUserDiv'), shareUserTagsFeedback = $('#shareUserTagsFeedback');
    shareUserTagsFeedback.remove();
    tagsinput.tagsinput({
        tagClass: 'label label-primary',
        itemValue: 'id',
        itemText: 'username'
    });
    tagsinput.before(shareUserTagsFeedback[0]);
    tagsinput.prev().prev().addClass("col-12");
    var shareUsers = [[${project.sharedUserList}]];
    // console.log(shareUsers);
    if(shareUsers !== null) {
        for(var i=0;i<shareUsers.length;i++) {
            tagsinput.tagsinput('add', shareUsers[i]);
        }
        updateTagsBgColor(tagsinput, 'green');
    }
    var taginput = tagsinput.prev().prev().find("input");
    taginput.keydown(function (event) {
        //监听回车键
        if(event.which === 13) {
            var userQueryParam = taginput.val();
            taginput.val('');
            // tagsinput.tagsinput('remove', userQueryParam);
            ajaxGetJson('/user/queryUserCore', {queryParam: userQueryParam},
                function (response) {
                    console.log(response);
                    if (response.success) {
                        tagsinput.tagsinput('add', response.data);
                        updateTagsBgColor(tagsinput, 'green');
                    }
                }
            );
        }
    });
    var projectAccessModeFromModel = [[${project.accessMode}]];
    if(projectAccessModeFromModel === '私有') {
        shareUserDiv.removeClass('d-none');
    }
    var projectAccessMode = $('#projectAccessMode');
    $("input[name=projectAccessModeRadio]").change(function() {
        var accessMode = $(this).val();
        if(accessMode === 'PUBLIC' || accessMode === 'PRIVATE') {
            projectAccessMode.val(accessMode);
        }
    });
    var projectDeploymentSelect = $('#projectDeploymentSelect');
    var projectDeploymentTable = $('#projectDeploymentTable');
    var projectDeploymentTrTemplate = $('#projectDeploymentTrTemplate');
    function addProjectDeployment() {
        var environmentType = projectDeploymentSelect.val();
        if(environmentType === '开发环境' || environmentType === '测试环境' || environmentType === '生产环境' || environmentType === '自定义环境') {
            var projectDeploymentTr = projectDeploymentTrTemplate.clone();
            projectDeploymentTr.removeClass('d-none');
            projectDeploymentTr.removeAttr('id');
            if(environmentType === '自定义环境') {
                environmentType = '';
            }
            projectDeploymentTr.find("input").eq(0).val(environmentType);
            projectDeploymentTable.find("tbody").append(projectDeploymentTr);
        }
    }
    function modifyProject() {
        var modifyProjectAlertSuccess = $('#modifyProjectAlertSuccess'),
            modifyProjectAlertWarning = $('#modifyProjectAlertWarning');
        if(isNaN(projectId)) {
            modifyProjectAlertSuccess.addClass('d-none');
            modifyProjectAlertWarning.removeClass('d-none');
            modifyProjectAlertWarning.html("页面存在错误，请刷新重试");
            return;
        }
        var paramObject = {
            name: projectName.val(),
            description: projectDescription.val(),
            accessMode: projectAccessMode.val(),
            shareUserIds: tagsinput.val()
        };
        var deploymentArray = [];
        var trs = projectDeploymentTable.find("tr");
        for(var i=1;i<trs.length;i++) {
            var tr = $(trs[i]);
            if(!tr.hasClass('d-none')) {
                var environment = tr.find("input").eq(0).val(),
                    deploymentUrl = tr.find("input").eq(1).val();
                var deployment = {
                    environment: environment,
                    deploymentUrl: deploymentUrl
                };
                deploymentArray.push(deployment);
            }
        }
        paramObject.deploymentList = deploymentArray;
        var paramJson = JSON.stringify(paramObject);
        console.log(paramObject);
        console.log(paramJson);
        ajaxPostJsonFull('/project/'+projectId+'/modify',paramJson,csrfToken,
            function (response) {
                console.log(response);
                if(response.success) {
                    modifyProjectAlertSuccess.removeClass("d-none");
                    modifyProjectAlertWarning.addClass("d-none");
                    modifyProjectAlertSuccess.html("项目修改成功，3秒后刷新页面");
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                } else {
                    modifyProjectAlertWarning.removeClass('d-none');
                    modifyProjectAlertSuccess.addClass('d-none');
                    modifyProjectAlertWarning.html(response.message);
                    if(response.data !== null) {
                        processModifyProjectErrorMsg(response.data);
                    }
                }
            },
            function (xhr) {
                modifyProjectAlertWarning.removeClass('d-none');
                modifyProjectAlertSuccess.addClass('d-none');
                modifyProjectAlertWarning.html('请求出错，状态码：'+xhr.status)
            }
        );
    }
    function processModifyProjectErrorMsg(data) {
        var projectAccessModeContent = $('#projectAccessModeContent');
        processErrorMsgItem(data.id, $('#projectId'));
        processErrorMsgItem(data.name, projectName);
        processErrorMsgItemOptional(data.description, projectDescription);
        processErrorMsgItem(data.accessMode, projectAccessModeContent);
        processErrorMsgItem(data.shareUserIds, tagsinput.prev().prev());
        var deploymentArray = data.deploymentList;
        if(deploymentArray !== null) {
            for (var i = 0; i < deploymentArray.length; i++) {
                var deployment = deploymentArray[i];
                var tr = projectDeploymentTable.find("tr").eq(i + 2);
                if (tr.length === 0) {
                    break;
                }
                processErrorMsgItem(deployment.environment, tr.find("input").eq(0));
                processErrorMsgItem(deployment.deploymentUrl, tr.find("input").eq(1));
            }
        }
    }

    function deleteProject() {
        var deleteProjectSuccessAlert = $('#deleteProjectSuccessAlert'),
            deleteProjectWarningAlert = $('#deleteProjectWarningAlert');
        if(isNaN(projectId)) {
            deleteProjectSuccessAlert.addClass('d-none');
            deleteProjectWarningAlert.removeClass('d-none');
            deleteProjectWarningAlert.html("页面存在错误，请刷新重试");
            return;
        }
        ajaxPostJsonFull('/project/' + projectId + '/delete',null,csrfToken,
            function (response) {
                if(response.success) {
                    deleteProjectSuccessAlert.removeClass('d-none');
                    deleteProjectWarningAlert.addClass('d-none');
                    deleteProjectSuccessAlert.html("删除成功，3秒后返回所有项目页面");
                    setTimeout(function () {
                        location.href = "/project/viewAll";
                    }, 3000);
                } else {
                    deleteProjectSuccessAlert.addClass('d-none');
                    deleteProjectWarningAlert.removeClass('d-none');
                    deleteProjectWarningAlert.html("删除失败：" + response.message);
                }
            },
            function (xhr) {
                deleteProjectSuccessAlert.addClass('d-none');
                deleteProjectWarningAlert.removeClass('d-none');
                deleteProjectWarningAlert.html("删除失败，状态码：" + xhr.status);
            }
        )
    }
</script>
</html>