<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_with_navbar_and_tagsinput}">
<head>
    <title>所有项目</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div id="container" class="col-12 col-md-8 offset-md-2">
        <div id="alert" class="d-none alert alert-warning sticky-top" role="alert">
            A simple warning alert—check it out!
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProjectModal">
                    创建项目
                </button>

                <!-- Modal -->
                <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document" style="min-width: 800px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createProjectModalTitle">创建项目</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="modalAlertWarning" class="d-none alert alert-warning sticky-top" role="alert">
                                    A simple warning alert—check it out!
                                </div>
                                <div id="modalAlertSuccess" class="d-none alert alert-success sticky-top" role="alert">
                                    A simple warning alert—check it out!
                                </div>
                                <div class="form-group">
                                    <label for="projectName">项目名称</label>
                                    <input type="text" class="form-control" id="projectName" placeholder="不超过32个字符">
                                    <div class="invalid-feedback">项目名称不超过32个字符</div>
                                </div>
                                <div class="form-group">
                                    <label for="projectDescription">项目介绍</label>
                                    <textarea class="form-control" id="projectDescription" placeholder="不超过200个字符">
                                    </textarea>
                                    <div class="invalid-feedback">项目介绍不超过200个字符</div>
                                </div>
                                <div class="form-group" id="projectAccessModeDiv">
                                    <label for="projectAccessModeContent">访问模式</label>
                                    <div id="projectAccessModeContent">
                                        <div class="form-check form-check-inline">
                                            <input checked class="form-check-input" type="radio" name="projectAccessModeRadio" id="publicRadio" value="PUBLIC">
                                            <label class="form-check-label" for="publicRadio">公开</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="projectAccessModeRadio" id="privateRadio" value="PRIVATE">
                                            <label class="form-check-label" for="privateRadio">私有</label>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">访问模式必选</div>
                                    <input type="hidden" id="projectAccessMode" value="PUBLIC">
                                </div>
                                <div id="shareUserDiv">
                                    <label for="shareUserTagsInput">将项目分享给</label>
                                    <div id="shareUserInvalidFeedback" class="invalid-feedback">授权用户访问参数非法</div>
                                    <input id="shareUserTagsInput" data-role="tagsinput">
                                </div>
                                <div>
                                    <label for="projectDeploymentDiv">项目部署地址</label>
                                    <div id="projectDeploymentDiv">
                                        <div class="d-flex align-items-center">
                                            <select class="form-control d-inline ml-1 mr-1" id="projectDeploymentSelect" style="width: 140px">
                                                <option>开发环境</option>
                                                <option>测试环境</option>
                                                <option>生产环境</option>
                                                <option>自定义环境</option>
                                            </select>
                                            <button type="button" class="btn btn-primary ml-1" onclick="addProjectDeployment()"><i class="fa fa-plus"></i> 新增地址</button>
                                        </div>
                                        <table id="projectDeploymentTable" class="table">
                                            <thead><tr>
                                                <th>环境</th>
                                                <th>部署地址</th>
                                                <th>操作</th>
                                            </tr></thead>
                                            <tbody>
                                            <tr id="projectDeploymentTrTemplate" class="d-none">
                                                <td>
                                                    <input class="form-control" style="width: 140px" type="text" placeholder="环境名">
                                                    <div class="invalid-feedback">项目部署环境名不超过32个字符</div>
                                                </td>
                                                <td>
                                                    <input class="form-control" style="width: 300px" type="text" placeholder="项目部署地址，以http/https开头">
                                                    <div class="invalid-feedback">项目部署地址不超过256个字符</div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" type="button" onclick="$(this).parent().parent().remove()">
                                                        <i class="fa fa-trash-alt"></i> 删除
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" onclick="createProject()">创建</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="row align-items-center" style="width: 200px">
                <span>每页数量：</span>
                <select class="form-control" id="pageSizeSelect" style="width: 100px">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                </select>
            </div>
        </div>
        <br>
        <div id="alertWarning" class="d-none alert alert-warning sticky-top" role="alert">
            A simple warning alert—check it out!
        </div>
        <div class="row" id="projectList">
            <div class="card col-6 col-md-4 col-xl-3" style="width: 300px" th:each="project:${pagedData.data}">
                <span class="d-none" th:text="${project.id}">id</span>
                <img src="/resources/default_project.jpg" width="200px" height="200px" class="card-img-top" alt="项目图像">
                <div class="card-body">
                    <h5 class="card-title" th:text="${project.name}">项目名</h5>
                    <span class="card-text" th:if="${project.accessMode} == '公开'"><i class="fa fa-unlock"></i> 公开</span>
                    <span class="card-text" th:if="${project.accessMode} == '私有'"><i class="fa fa-lock"></i> 私有</span>
                    <p class="card-text" th:text="${project.description}">项目介绍</p>
                    <small class="card-text text-muted" th:text="|创建于${project.createTime}|">创建时间</small><br>
                    <small class="card-text text-muted" th:text="|更新于${project.updateTime}|">更新时间</small><br>
                </div>
                <div class="card-footer">
                    <a th:href="|/project/${project.id}/view|" class="btn btn-primary">查看</a>
                    <button type="button" class="btn btn-secondary" th:onclick="follow([[${project.id}]])" th:if="!${project.follow}">关注</button>
                    <button type="button" class="d-none btn btn-secondary" th:onclick="unfollow([[${project.id}]])" th:if="!${project.follow}">取消关注</button>
                    <button type="button" class="d-none btn btn-secondary" th:onclick="follow([[${project.id}]])" th:if="${project.follow}">关注</button>
                    <button type="button" class="btn btn-secondary" th:onclick="unfollow([[${project.id}]])" th:if="${project.follow}">取消关注</button>
                </div>
            </div>
        </div>
        <br>
        <div id="pagination" class="d-flex justify-content-center">
            <nav aria-label="分页导航">
                <ul class="pagination">
                    <li class="page-item"><a id="paginationFirst" class="page-link" th:href="|/project/viewAll?pageNum=0&pageSize=20|">首页</a></li>
                    <li class="page-item"><a id="paginationPrevious" class="page-link" th:href="|/project/viewAll?pageNum=|+(${pagedData.pageNum}-1)+|&pageSize=20|">上一页</a></li>
                    <li class="page-item"><a id="paginationCurrent" class="page-link" th:href="|/project/viewAll?pageNum=${pagedData.pageNum}&pageSize=20|" th:text="${pagedData.pageNum}+1">0</a></li>
                    <li class="page-item"><a id="paginationNext" class="page-link" th:href="|/project/viewAll?pageNum=|+(${pagedData.pageNum}+1)+|&pageSize=20|">下一页</a></li>
                    <li class="page-item"><a id="paginationLast" class="page-link" th:href="|/project/viewAll?pageNum=|+(${pagedData.totalPage}-1)+|&pageSize=20|">末页</a></li>
                </ul>
            </nav>
        </div>
        <div id="pageDescription" class="text-center">
            <span th:text="|当前第|+(${pagedData.pageNum}+1)+|页，共${pagedData.totalPage}页|">分页信息</span><br>
            <span th:text="|当前页共${pagedData.curPageSize}条数据，总计${pagedData.totalSize}条数据|">分页数据信息</span>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    const csrfToken = [[${_csrf.token}]];
    var projectDeploymentSelect = $('#projectDeploymentSelect');
    var projectDeploymentTable = $('#projectDeploymentTable');
    function addProjectDeployment() {
        var environmentType = projectDeploymentSelect.val();
        if(environmentType === '开发环境' || environmentType === '测试环境' || environmentType === '生产环境' || environmentType === '自定义环境') {
            var projectDeploymentTr = $('#projectDeploymentTrTemplate').clone();
            projectDeploymentTr.removeClass('d-none');
            projectDeploymentTr.removeAttr('id');
            if(environmentType === '自定义环境') {
                environmentType = '';
            }
            projectDeploymentTr.find("input").eq(0).val(environmentType);
            projectDeploymentTable.find("tbody").append(projectDeploymentTr);
        }
    }
    var tagsinput = $('input[data-role="tagsinput"]');
    tagsinput.tagsinput({
        tagClass: 'label label-primary',
        itemValue: 'id',
        itemText: 'username'
    });
    var shareUserInvalidFeedback = $('#shareUserInvalidFeedback');
    shareUserInvalidFeedback.remove();
    shareUserInvalidFeedback.insertBefore(tagsinput);
    tagsinput.prev().prev().addClass("col-12");
    var projectAccessMode = $('#projectAccessMode');
    $("input[name=projectAccessModeRadio]").change(function() {
        var accessMode = $(this).val();
        if(accessMode === 'PUBLIC' || accessMode === 'PRIVATE') {
            projectAccessMode.val(accessMode);
        }
        var shareUserDiv = $('#shareUserDiv');
    });
    var taginput = tagsinput.prev().prev().find("input");
    taginput.keydown(function (event) {
        //监听回车键
        if(event.which === 13) {
            var userQueryParam = taginput.val();
            taginput.val('');
            // tagsinput.tagsinput('remove', userQueryParam);
            ajaxGetJson('/user/queryUserCore', {queryParam: userQueryParam},
                function (response) {
                    console.log(response);
                    if (response.success) {
                        tagsinput.tagsinput('add', response.data);
                        updateTagsBgColor(tagsinput, 'green');
                    }
                }
            );
        }
    });
    var projectName = $('#projectName');
    var projectDescription = $('#projectDescription');
    projectDescription.val('');
    var modalAlertWarning = $('#modalAlertWarning'), modalAlertSuccess = $('#modalAlertSuccess');
    function createProject() {
        var paramObject = {
            name: projectName.val(),
            description: projectDescription.val(),
            accessMode: projectAccessMode.val(),
            shareUserIds: tagsinput.val()
        };
        var deploymentArray = [];
        var trs = projectDeploymentTable.find("tr");
        for(var i=1;i<trs.length;i++) {
            var tr = $(trs[i]);
            if(!tr.hasClass('d-none')) {
                var environment = tr.find("input").eq(0).val(),
                    deploymentUrl = tr.find("input").eq(1).val();
                var deployment = {
                    environment: environment,
                    deploymentUrl: deploymentUrl
                };
                deploymentArray.push(deployment);
            }
        }
        paramObject.deploymentList = deploymentArray;
        var paramJson = JSON.stringify(paramObject);
        console.log(paramObject);
        console.log(paramJson);
        ajaxPostJsonFull('/project/create',paramJson,csrfToken,
            function (response) {
                console.log(response);
                if(response.success) {
                    modalAlertSuccess.removeClass("d-none");
                    modalAlertWarning.addClass("d-none");
                    modalAlertSuccess.html("项目创建成功，3秒后刷新页面");
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                } else {
                    modalAlertWarning.removeClass('d-none');
                    modalAlertSuccess.addClass('d-none');
                    modalAlertWarning.html(response.message);
                    processErrorMsg(response.data);
                }
            },
            function (xhr) {
                modalAlertWarning.removeClass('d-none');
                modalAlertSuccess.addClass('d-none');
                modalAlertWarning.html('请求出错，状态码：'+xhr.status)
            }
        );
    }
    function processErrorMsg(data) {
        var projectAccessModeContent = $('#projectAccessModeContent');
        processErrorMsgItem(data.name, projectName);
        processErrorMsgItemOptional(data.description, projectDescription);
        processErrorMsgItem(data.accessMode, projectAccessModeContent);
        processErrorMsgItem(data.shareUserIds, tagsinput.prev());
        var deploymentArray = data.deploymentList;
        if(deploymentArray !== null) {
            for (var i = 0; i < deploymentArray.length; i++) {
                var deployment = deploymentArray[i];
                var tr = projectDeploymentTable.find("tr").eq(i + 2);
                if (tr.length === 0) {
                    break;
                }
                processErrorMsgItem(deployment.environment, tr.find("input").eq(0));
                processErrorMsgItem(deployment.deploymentUrl, tr.find("input").eq(1));
            }
        }
    }

    var alertWarning = $('#alertWarning'), projectList = $('#projectList');
    function follow(projectId) {
        ajaxPostJson('/project/' + projectId + '/follow',null,csrfToken,function (response) {
            console.log(response);
            var cards = projectList.find("div.card");
            for(var i=0;i<cards.length;i++) {
                var card = $(cards[i]);
                var pid = parseInt(card.find('span').eq(0).html());
                if(pid === projectId) {
                    var followButton = card.find('button').eq(0),
                        unfollowButton = card.find('button').eq(1);
                    if(response.success) {
                        followButton.addClass('d-none');
                        unfollowButton.removeClass('d-none');
                        alertWarning.addClass('d-none');
                    } else {
                        alertWarning.removeClass('d-none');
                        alertWarning.html(response.message);
                    }
                    break;
                }
            }
        });
    }
    function unfollow(projectId) {
        ajaxPostJson('/project/' + projectId + '/unfollow',null,csrfToken,function (response) {
            console.log(response);
            var cards = projectList.find("div.card");
            for(var i=0;i<cards.length;i++) {
                var card = $(cards[i]);
                var pid = parseInt(card.find('span').eq(0).html());
                if(pid === projectId) {
                    var followButton = card.find('button').eq(0),
                        unfollowButton = card.find('button').eq(1);
                    if(response.success) {
                        followButton.removeClass('d-none');
                        unfollowButton.addClass('d-none');
                        alertWarning.addClass('d-none');
                    } else {
                        alertWarning.removeClass('d-none');
                        alertWarning.html(response.message);
                    }
                    break;
                }
            }
        });
    }

    var pageSizeSelect = $('#pageSizeSelect');
    var pageSize = parseInt([[${pagedData.pageSize}]]);
    const totalPage=[[${pagedData.totalPage}]];
    if(isNaN(pageSize)) {
        pageSize = 10;
    }
    var pageSizeSelectOptions = pageSizeSelect.find("option");
    for(var i=0;i<pageSizeSelectOptions.length;i++) {
        var option = $(pageSizeSelectOptions[i]);
        var optionValue = parseInt(option.html());
        if(!isNaN(optionValue) && optionValue === pageSize) {
            option.attr("selected","");
        }
    }
    updatePagination(pageSize, false);
    function updatePagination(pageSize,refresh) {
        var allATags = $('#pagination').find("a");
        for(var i=0;i<allATags.length;i++) {
            var aTag = $(allATags[i]);
            var href = aTag.attr("href");
            var splits0 = href.split("?");
            var updatedHref = splits0[0];
            if(splits0.length > 1) {
                updatedHref = updatedHref + "?";
                var splits1 = splits0[1].split("&");
                for(var j=0;j<splits1.length;j++) {
                    var splits2 = splits1[j];
                    var splits3 = splits2.split("=");
                    if(splits3.length > 1) {
                        var key = splits3[0], value = splits3[1];
                        if(key === 'pageNum') {
                            var valueInt = parseInt(value);
                            if(!isNaN(valueInt)) {
                                if(valueInt < 0) {
                                    valueInt = 0;
                                } else if(valueInt > totalPage - 1) {
                                    valueInt = totalPage - 1;
                                    if(valueInt < 0) {
                                        valueInt = 0;
                                    }
                                }
                                value = "" + valueInt;
                            }
                        } else if(key === 'pageSize') {
                            value = "" + pageSize;
                        }
                        updatedHref = updatedHref + key + "=" + value + "&";
                    } else {
                        updatedHref = updatedHref + splits2 + "&";
                    }
                }
                updatedHref = updatedHref.substring(0, updatedHref.length - 1);
            }
            aTag.attr("href", updatedHref);
        }
        if(refresh) {
            var current = $('#paginationCurrent').attr("href");
            window.location.href = current;
        }
    }
    pageSizeSelect.on("change", function () {
        pageSize = parseInt(pageSizeSelect.val());
        if(!isNaN(pageSize)) {
            updatePagination(pageSize, true);
        }
    });
</script>
</html>