<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_with_navbar_and_tagsinput_and_docs}">
<head>
    <title>查看分组</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-3 bd-sidebar">
            <nav class="collapse bd-links" id="bd-docs-nav">
                <div class="bd-toc-item">
                    <a class="bd-toc-link" th:href="|/project/${group.projectId}/view|">
                        项目管理
                    </a>
                </div>
                <div class="bd-toc-item" th:if="${group.groupList} != null" th:each="groupItem:${group.groupList}">
                    <a class="bd-toc-link" th:href="|/group/${groupItem.id}/view|" th:text="${groupItem.name}">
                        分组管理
                    </a>
                    <ul class="nav bd-sidenav" th:if="${groupItem.interfaceList}">
                        <li th:each="interface:${groupItem.interfaceList}">
                            <a th:href="|/interface/${interface.id}/view|" th:text="${interface.name}">Introduction</a>
                        </li>
                    </ul>
                </div>
                <div class="d-none bd-toc-item active">
                    <a class="bd-toc-link" th:href="|/project/${group.projectId}/view|">
                        项目管理
                    </a>
                    <ul class="nav bd-sidenav">
                        <li class="active bd-sidenav-active">
                            <a href="introduction_2.htm">Introduction</a>
                        </li>
                        <li>
                            <a href="../download/download.htm">Download</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <main class="col-12 col-md-8 col-xl-9 py-md-3 pl-md-5 bd-content" role="main">
            <h1 class="bd-title" th:text="|分组：${group.name}|">分组名称</h1>
            <br>
            <small class="text-muted" th:text="|创建于${group.createTime}|">创建时间</small>
            <small class="text-muted" th:text="|更新于${group.updateTime}|">更新时间</small><br>
            <small class="text-muted" th:if="${group.creator} != null" th:text="|创建者：${group.creator.username}|" data-toggle="tooltip" data-placement="right" th:title="${group.creator.email}">创建者</small><br>
            <small class="text-muted" th:if="${group.updater} != null" th:text="|更新者：${group.updater.username}|" data-toggle="tooltip" data-placement="right" th:title="${group.updater.email}">更新者</small><br>
            <br><br>
            <div class="row mb-1">
                <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#modifyGroupModal">修改分组信息</button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteGroupModal">删除分组</button>
            </div>
            <div class="row mt-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createInterfaceModal">创建接口</button>
            </div>
        </main>
        <div class="modal fade" id="modifyGroupModal" tabindex="-1" role="dialog" aria-labelledby="modifyGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">修改分组</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="modifyGroupAlertWarning" class="d-none alert alert-warning sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div id="modifyGroupAlertSuccess" class="d-none alert alert-success sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div class="form-group">
                            <label for="groupId">分组id</label>
                            <input type="text" readonly class="form-control" th:value="${group.id}">
                            <div class="invalid-feedback">分组id不能为null</div>
                        </div>
                        <div class="form-group">
                            <label for="groupName">分组名称</label>
                            <input type="text" class="form-control" id="groupName" th:value="${group.name}">
                            <div class="invalid-feedback">分组名称不超过32个字符</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="modifyGroup()">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">删除分组</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="deleteGroupAlertWarning" class="d-none alert alert-warning sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div id="deleteGroupAlertSuccess" class="d-none alert alert-success sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        您真的要删除这个分组吗？<br>
                        警告：分组下的接口会被同时删除！
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-warning" onclick="deleteGroup()">确认删除</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createInterfaceModal" tabindex="-1" role="dialog" aria-labelledby="createInterfaceModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 800px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">创建接口</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="createInterfaceAlertWarning" class="d-none alert alert-warning sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div id="createInterfaceAlertSuccess" class="d-none alert alert-success sticky-top" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        <div class="form-group">
                            <label for="groupId">分组id</label>
                            <input type="text" readonly class="form-control" th:value="${group.id}">
                            <div class="invalid-feedback">分组id不能为null</div>
                        </div>
                        <div class="form-group">
                            <label for="interfaceName">接口名称</label>
                            <input type="text" class="form-control" id="interfaceName" placeholder="不超过32个字符">
                            <div class="invalid-feedback">接口名称不超过32个字符</div>
                        </div>
                        <div class="form-group">
                            <label for="interfaceDescription">接口描述</label>
                            <textarea class="form-control" id="interfaceDescription" placeholder="不超过100个字符"></textarea>
                            <div class="invalid-feedback">接口描述不超过100个字符</div>
                        </div>
                        <div class="form-group">
                            <label for="interfaceRelativePath">相对路径</label>
                            <input type="text" class="form-control" id="interfaceRelativePath" placeholder="以/开头的相对路径">
                            <div class="invalid-feedback">相对路径不超过256个字符</div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-4">
                                <label for="interfaceMethod">请求方法</label>
                                <select class="form-control d-inline" id="interfaceMethod">
                                    <option>GET</option>
                                    <option>POST</option>
                                    <option>PUT</option>
                                    <option>DELETE</option>
                                    <option>HEAD</option>
                                    <option>OPTIONS</option>
                                    <option>PATCH</option>
                                    <option>TRACE</option>
                                </select>
                                <div class="invalid-feedback">无效的请求方法</div>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label for="interfaceType">请求体类型</label>
                                <select class="form-control d-inline" id="interfaceType">
                                    <option value="FORM_URLENCODED">application/x-www-form-urlencoded</option>
                                    <option value="FORM_DATA">multipart/form-data</option>
                                    <option value="JSON">application/json</option>
                                    <option value="NO_BODY">无请求体</option>
                                </select>
                                <div class="invalid-feedback">无效的请求体类型</div>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label for="interfaceResponseType">响应体类型</label>
                                <select class="form-control d-inline" id="interfaceResponseType">
                                    <option value="TEXT">字符串</option>
                                    <option value="FILE">文件</option>
                                </select>
                                <div class="invalid-feedback">无效的响应体类型</div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" onclick="interfaceFieldManualInput()">手动输入字段和头部</button>
                            <button type="button" class="btn btn-secondary" onclick="interfaceHeaderFieldJsonInput()">从JSON导入字段和头部</button>
                        </div>
                        <div id="interfaceHeaderManualDiv">
                            <label for="interfaceHeaderTable">接口头部表</label>
                            <table id="interfaceHeaderTable" class="table">
                                <thead><tr>
                                    <th>头部名称</th>
                                    <th>是否必填</th>
                                    <th>头部描述</th>
                                    <th>操作</th>
                                </tr></thead>
                                <tbody>
                                <tr id="interfaceHeaderTrTemplate" class="d-none">
                                    <td>
                                        <input class="form-control" style="width: 200px" type="text" placeholder="头部名称">
                                        <div class="invalid-feedback">头部名称不超过32个字符</div>
                                    </td>
                                    <td>
                                        <div style="width: 80px">
                                            <input type="checkbox" class="form-check-input">
                                            <label class="form-check-label">必填</label>
                                            <div class="invalid-feedback">字段必选无效</div>
                                        </div>
                                    </td>
                                    <td>
                                        <textarea class="form-control" style="width: 320px" placeholder="头部描述"></textarea>
                                        <div class="invalid-feedback">头部描述不超过100个字符</div>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="$(this).parent().parent().remove()">
                                            <i class="fa fa-trash-alt"></i> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary" onclick="interfaceHeaderManualAdd()"><i class="fa fa-plus"></i> 添加头部(手动输入)</button>
                        </div>
                        <div id="interfaceFieldManualDiv">
                            <label for="interfaceFieldTable">接口字段表</label>
                            <table id="interfaceFieldTable" class="table">
                                <thead><tr>
                                    <th>字段名称</th>
                                    <th>字段类型</th>
                                    <th>是否必填</th>
                                    <th>字段描述</th>
                                    <th>操作</th>
                                </tr></thead>
                                <tbody>
                                <tr id="interfaceFieldTrTemplate" class="d-none">
                                    <td>
                                        <input class="form-control" style="width: 140px" type="text" placeholder="字段名称">
                                        <div class="invalid-feedback">字段名称不超过32个字符</div>
                                    </td>
                                    <td>
                                        <select class="form-control" style="width: 100px">
                                            <option value="TEXT">值</option>
                                            <option value="FILE">文件</option>
                                        </select>
                                        <div class="invalid-feedback">字段类型无效</div>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">必填</label>
                                        <div class="invalid-feedback">字段必选无效</div>
                                    </td>
                                    <td>
                                        <textarea class="form-control" style="width: 300px" placeholder="字段描述"></textarea>
                                        <div class="invalid-feedback">字段描述不超过100个字符</div>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="$(this).parent().parent().remove()">
                                            <i class="fa fa-trash-alt"></i> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary" onclick="interfaceFieldManualAdd()"><i class="fa fa-plus"></i> 添加字段(手动输入)</button>
                        </div>
                        <div id="interfaceHeaderFieldJsonDiv" class="d-none">
                            <label for="interfaceHeaderFieldJson">头部和字段JSON</label>
                            <textarea class="form-control" id="interfaceHeaderFieldJson">
                            </textarea>
                            <small class="text-muted">提示：点击导入按钮数据才会生效！</small>
                            <br>
                            <button type="button" class="btn btn-primary" onclick="interfaceImportFromJson()">确定导入</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="createInterface()">创建</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    $('[data-toggle="tooltip"]').tooltip({
        delay: { "show": 0, "hide": 2000 }
    });
    const csrf = [[${_csrf}]];
    var csrfToken = null;
    if(csrf !== null) {
        csrfToken = csrf.token;
    }
    const groupId = [[${group.id}]];
    const projectId = [[${group.projectId}]];
    addActiveClassForNav();
    function addActiveClassForNav() {
        var bdDocsNav = $('#bd-docs-nav');
        var divs = bdDocsNav.find("div.bd-toc-item");
        for(var i=0;i<divs.length;i++) {
            var div = $(divs[i]);
            if(div.hasClass('d-none')) {
                continue;
            }
            var firstA = div.find("a").eq(0);
            var href = firstA.attr('href');
            var splits = href.split("/");
            if(splits.length === 4 && splits[1] === 'group' && splits[2] === '' + groupId) {
                div.addClass('active');
            }
        }
    }
    var interfaceHeaderFieldJson = $('#interfaceHeaderFieldJson');
    interfaceHeaderFieldJson.val("[{\n" +
        "    \"name\": \"field_name\",\n" +
        "    \"type\": \"field\",\n" +
        "    \"field_type\": \"TEXT\",\n" +
        "    \"required\": true,\n" +
        "    \"description\": \"field_description\"\n" +
        "},{\n" +
        "    \"name\": \"header_name\",\n" +
        "    \"type\": \"header\",\n" +
        "    \"required\": false,\n" +
        "    \"description\": \"header_description\"\n" +
        "}]");
    interfaceHeaderFieldJson.height(interfaceHeaderFieldJson[0].scrollHeight);
    var interfaceFieldManualDiv = $('#interfaceFieldManualDiv'),
        interfaceHeaderManualDiv = $('#interfaceHeaderManualDiv'),
        interfaceHeaderFieldJsonDiv = $('#interfaceHeaderFieldJsonDiv')
    ;
    var interfaceFieldTable = $('#interfaceFieldTable'),
        interfaceFieldTrTemplate = $('#interfaceFieldTrTemplate'),
        interfaceHeaderTable = $('#interfaceHeaderTable'),
        interfaceHeaderTrTemplate = $('#interfaceHeaderTrTemplate');
    function interfaceFieldManualInput() {
        interfaceFieldManualDiv.removeClass('d-none');
        interfaceHeaderManualDiv.removeClass('d-none');
        interfaceHeaderFieldJsonDiv.addClass('d-none');
    }
    function interfaceHeaderFieldJsonInput() {
        interfaceFieldManualDiv.addClass('d-none');
        interfaceHeaderManualDiv.addClass('d-none');
        interfaceHeaderFieldJsonDiv.removeClass('d-none');
        interfaceHeaderFieldJson.height(interfaceHeaderFieldJson[0].scrollHeight);
    }
    function interfaceFieldManualAdd() {
        if(!interfaceFieldManualDiv.hasClass('d-none')) {
            var tr = interfaceFieldTrTemplate.clone();
            tr.removeClass('d-none');
            interfaceFieldTable.find("tbody").append(tr);
        }
    }
    function interfaceHeaderManualAdd() {
        if(!interfaceHeaderManualDiv.hasClass('d-none')) {
            var tr = interfaceHeaderTrTemplate.clone();
            tr.removeClass('d-none');
            interfaceHeaderTable.find("tbody").append(tr);
        }
    }
    var createInterfaceAlertWarning = $('#createInterfaceAlertWarning'),
        createInterfaceAlertSuccess = $('#createInterfaceAlertSuccess');
    function interfaceImportFromJson() {
        var json = interfaceHeaderFieldJson.val();
        if(json === '') {
            return;
        }
        try {
            clearHeaderFieldTable();
            var jsonObject = JSON.parse(json);
            var hasError = false;
            var headerCount = 0, fieldCount = 0;
            if(jsonObject instanceof Array) {
                for(var i=0;i<jsonObject.length;i++) {
                    var one = jsonObject[i];
                    if(one instanceof Object) {
                        var name = one.name,
                            type = one.type,
                            description = one.description,
                            fieldType = one.field_type,
                            required = one.required
                        ;
                        if(type === 'field' || type === 'header') {
                            if(name !== null && required !== null && isBoolean(required)) {
                                if (type === 'field') {
                                    if(fieldType === 'TEXT' || fieldType === 'FILE') {
                                        fieldCount++;
                                        addField(name, fieldType, required, description);
                                    } else {
                                        hasError = true;
                                    }
                                } else if (type === 'header') {
                                    headerCount++;
                                    addHeader(name, required, description);
                                }
                            } else {
                                hasError = true;
                            }
                        } else {
                            hasError = true;
                        }
                    } else {
                        hasError = true;
                    }
                }
            } else {
                hasError = true;
            }
            if(!hasError) {
                createInterfaceAlertSuccess.removeClass('d-none');
                createInterfaceAlertWarning.addClass('d-none');
                createInterfaceAlertSuccess.html(successImportText(headerCount,fieldCount));
            } else {
                createInterfaceAlertSuccess.addClass('d-none');
                createInterfaceAlertWarning.removeClass('d-none');
                createInterfaceAlertWarning.html("数据格式不符合约定，"+successImportText(headerCount,fieldCount));
            }
            if(headerCount > 0 || fieldCount > 0) {
                interfaceFieldManualInput();
            }
        } catch (e) {
            console.error("导入json失败", e);
            createInterfaceAlertSuccess.addClass('d-none');
            createInterfaceAlertWarning.removeClass('d-none');
            createInterfaceAlertWarning.html("JSON格式不正确！");
        }
        function successImportText(headerCount,fieldCount) {
            return '成功导入'+headerCount+"条头部、"+fieldCount+"条字段";
        }
        function clearHeaderFieldTable() {
            var headerTrs = interfaceHeaderTable.find("tbody").find("tr");
            removeDisplayTrs(headerTrs);
            var fieldTrs = interfaceFieldTable.find("tbody").find("tr");
            removeDisplayTrs(fieldTrs);
        }
        function removeDisplayTrs(trs) {
            for(var i=0;i<trs.length;i++) {
                var tr = $(trs[i]);
                if(!tr.hasClass('d-none')) {
                    tr.remove();
                }
            }
        }
        function addHeader(name,required,description) {
            var tr = interfaceHeaderTrTemplate.clone();
            tr.removeClass('d-none');
            tr.find("input").eq(0).val(name);
            tr.find("input").eq(1).prop('checked',required);
            tr.find("textarea").eq(0).val(description);
            interfaceHeaderTable.find("tbody").append(tr);
        }
        function addField(name,fieldType,required,description) {
            var tr = interfaceFieldTrTemplate.clone();
            tr.removeClass('d-none');
            tr.find("input").eq(0).val(name);
            tr.find("input").eq(1).prop('checked',required);
            tr.find("select").eq(0).val(fieldType);
            tr.find("textarea").eq(0).val(description);
            interfaceFieldTable.find("tbody").append(tr);
        }
    }
    var interfaceName = $('#interfaceName'),
        interfaceDescription = $('#interfaceDescription'),
        interfaceRelativePath = $('#interfaceRelativePath'),
        interfaceMethod = $('#interfaceMethod'),
        interfaceType = $('#interfaceType'),
        interfaceResponseType = $('#interfaceResponseType');
    function createInterface() {
        var paramObject = {
            name: interfaceName.val(),
            description: interfaceDescription.val(),
            relativePath: interfaceRelativePath.val(),
            method: interfaceMethod.val(),
            type: interfaceType.val(),
            responseType: interfaceResponseType.val()
        };
        var headerArray = [];
        var trs = interfaceHeaderTable.find('tbody').find('tr');
        for(var i=0;i<trs.length;i++) {
            var tr = $(trs[i]);
            if(!tr.hasClass('d-none')) {
                var name = tr.find("input").eq(0).val();
                var description = tr.find("textarea").eq(0).val();
                var required = tr.find("input").eq(1).prop('checked');
                var header = {
                    name: name,
                    description: description,
                    required: required
                }
                headerArray.push(header);
            }
        }
        paramObject.headerList = headerArray;
        var fieldArray = [];
        trs = interfaceFieldTable.find('tbody').find('tr');
        for(var i=0;i<trs.length;i++) {
            var tr = $(trs[i]);
            if(!tr.hasClass('d-none')) {
                var name = tr.find("input").eq(0).val();
                var type = tr.find("select").eq(0).val();
                var description = tr.find("textarea").eq(0).val();
                var required = tr.find("input").eq(1).prop('checked');
                var field = {
                    name: name,
                    type: type,
                    description: description,
                    required: required
                }
                fieldArray.push(field);
            }
        }
        paramObject.fieldList = fieldArray;

        var paramJson = JSON.stringify(paramObject);
        console.log(paramObject);
        console.log(paramJson);
        ajaxPostJsonFull('/group/'+groupId+'/interface/create',paramJson,csrfToken,
            function (response) {
                console.log(response);
                if(response instanceof Object) {
                    if (response.success) {
                        createInterfaceAlertSuccess.removeClass("d-none");
                        createInterfaceAlertWarning.addClass("d-none");
                        createInterfaceAlertSuccess.html("接口创建成功，3秒后刷新页面");
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    } else {
                        createInterfaceAlertWarning.removeClass('d-none');
                        createInterfaceAlertSuccess.addClass('d-none');
                        createInterfaceAlertWarning.html(response.message);
                        if (response.data !== null) {
                            processCreateInterfaceErrorMsg(response.data);
                        }
                    }
                } else {
                    createInterfaceAlertWarning.removeClass('d-none');
                    createInterfaceAlertSuccess.addClass('d-none');
                    createInterfaceAlertWarning.html('请求失败');
                }
            },
            function (xhr) {
                createInterfaceAlertWarning.removeClass('d-none');
                createInterfaceAlertSuccess.addClass('d-none');
                createInterfaceAlertWarning.html('请求出错，状态码：'+xhr.status)
            }
        );
    }
    function processCreateInterfaceErrorMsg(data) {
        processErrorMsgItem(data.name, interfaceName);
        processErrorMsgItemOptional(data.description, interfaceDescription);
        processErrorMsgItem(data.relativePath, interfaceRelativePath);
        processErrorMsgItem(data.method, interfaceMethod);
        processErrorMsgItem(data.type, interfaceType);
        processErrorMsgItem(data.responseType, interfaceResponseType);
        var headerArray = data.headerList;
        if(headerArray !== null) {
            for(var i=0;i<headerArray.length;i++) {
                var header = headerArray[i];
                var tr = interfaceHeaderTable.find('tbody').find('tr').eq(i+1);
                if(tr.length === 0) {
                    break;
                }
                processErrorMsgItem(header.name, tr.find('input').eq(0));
                // processErrorMsgItem(header.required, tr.find('input').eq(1));
                processErrorMsgItemOptional(header.description, tr.find('textarea').eq(0));
            }
        }
        var fieldArray = data.fieldList;
        if(fieldArray !== null) {
            for(var i=0;i<fieldArray.length;i++) {
                var field = fieldArray[i];
                var tr = interfaceFieldTable.find('tbody').find('tr').eq(i+1);
                if(tr.length === 0) {
                    break;
                }
                processErrorMsgItem(field.name, tr.find('input').eq(0));
                processErrorMsgItem(field.type, tr.find('select').eq(0));
                // processErrorMsgItem(field.required, tr.find('input').eq(1));
                processErrorMsgItemOptional(field.description, tr.find('textarea').eq(0));
            }
        }
    }

    var groupName = $('#groupName');
    function modifyGroup() {
        var modifyGroupAlertSuccess = $('#modifyGroupAlertSuccess'),
            modifyGroupAlertWarning = $('#modifyGroupAlertWarning');
        if (isNaN(groupId)) {
            modifyGroupAlertSuccess.addClass('d-none');
            modifyGroupAlertWarning.removeClass('d-none');
            modifyGroupAlertWarning.html("页面存在错误，请刷新重试");
            return;
        }
        var paramObject = {
            name: groupName.val()
        };
        var paramJson = JSON.stringify(paramObject);
        console.log(paramObject);
        console.log(paramJson);
        ajaxPostJsonFull('/group/'+groupId+'/modify',paramJson,csrfToken,
            function (response) {
                console.log(response);
                if(response instanceof Object) {
                    if (response.success) {
                        modifyGroupAlertSuccess.removeClass("d-none");
                        modifyGroupAlertWarning.addClass("d-none");
                        modifyGroupAlertSuccess.html("分组修改成功，3秒后刷新页面");
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    } else {
                        modifyGroupAlertWarning.removeClass('d-none');
                        modifyGroupAlertSuccess.addClass('d-none');
                        modifyGroupAlertWarning.html(response.message);
                        if (response.data !== null) {
                            processErrorMsgItem(response.data.name, groupName);
                        }
                    }
                } else {
                    modifyGroupAlertWarning.removeClass('d-none');
                    modifyGroupAlertSuccess.addClass('d-none');
                    modifyGroupAlertWarning.html('请求失败');
                }
            },
            function (xhr) {
                modifyGroupAlertWarning.removeClass('d-none');
                modifyGroupAlertSuccess.addClass('d-none');
                modifyGroupAlertWarning.html('请求出错，状态码：'+xhr.status)
            }
        );
    }
    
    function deleteGroup() {
        var deleteGroupAlertSuccess = $('#deleteGroupAlertSuccess'),
            deleteGroupAlertWarning = $('#deleteGroupAlertWarning');
        if(isNaN(groupId)) {
            deleteGroupAlertSuccess.addClass('d-none');
            deleteGroupAlertWarning.removeClass('d-none');
            deleteGroupAlertWarning.html("页面存在错误，请刷新重试");
            return;
        }
        ajaxPostJsonFull('/group/' + groupId + '/delete',null,csrfToken,
            function (response) {
                if(response instanceof Object) {
                    if (response.success) {
                        deleteGroupAlertSuccess.removeClass('d-none');
                        deleteGroupAlertWarning.addClass('d-none');
                        deleteGroupAlertSuccess.html("删除成功，3秒后返回项目管理页面");
                        setTimeout(function () {
                            location.href = "/project/" + projectId + "/view";
                        }, 3000);
                    } else {
                        deleteGroupAlertSuccess.addClass('d-none');
                        deleteGroupAlertWarning.removeClass('d-none');
                        deleteGroupAlertWarning.html("删除失败：" + response.message);
                    }
                } else {
                    deleteGroupAlertSuccess.addClass('d-none');
                    deleteGroupAlertWarning.removeClass('d-none');
                    deleteGroupAlertWarning.html("请求失败");
                }
            },
            function (xhr) {
                deleteGroupAlertSuccess.addClass('d-none');
                deleteGroupAlertWarning.removeClass('d-none');
                deleteGroupAlertWarning.html("删除失败，状态码：" + xhr.status);
            }
        )
    }
</script>
</html>