<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_with_navbar}">
<head>
    <title>所有项目</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div id="container" class="col-12 col-md-8 offset-md-2">
        <div class="d-flex justify-content-end align-items-center">
            <span>每页数量：</span>
            <select class="col-2 form-control" id="pageSizeSelect">
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </select>
        </div>
        <br>
        <div class="row">
            <div class="card col-6 col-md-4 col-xl-3" style="width: 300px" th:each="project:${pagedData.data}">
                <img src="/resources/default_project.jpg" width="200px" height="200px" class="card-img-top" alt="项目图像">
                <div class="card-body">
                    <h5 class="card-title" th:text="${project.name}">项目名</h5>
                    <span class="card-text" th:text="${project.accessMode}">访问模式</span>
                    <p class="card-text" th:text="${project.description}">项目介绍</p>
                    <a th:href="|/projects/view/${project.id}|" class="btn btn-primary">查看</a>
                </div>
                <div class="card-footer">
                    <span class="card-text" th:text="|创建于${project.createTime}|">创建时间</span><br>
                    <span class="card-text" th:text="|更新于${project.updateTime}|">更新时间</span><br>
                </div>
            </div>
        </div>
        <br>
        <div id="pagination" class="d-flex justify-content-center">
            <nav aria-label="分页导航">
                <ul class="pagination">
                    <li class="page-item"><a id="paginationFirst" class="page-link" th:href="|/projects/viewAll?pageNum=0&pageSize=20|">首页</a></li>
                    <li class="page-item"><a id="paginationPrevious" class="page-link" th:href="|/projects/viewAll?pageNum=|+(${pagedData.pageNum}-1)+|&pageSize=20|">上一页</a></li>
                    <li class="page-item"><a id="paginationCurrent" class="page-link" th:href="|/projects/viewAll?pageNum=${pagedData.pageNum}&pageSize=20|" th:text="${pagedData.pageNum}+1">0</a></li>
                    <li class="page-item"><a id="paginationNext" class="page-link" th:href="|/projects/viewAll?pageNum=|+(${pagedData.pageNum}+1)+|&pageSize=20|">下一页</a></li>
                    <li class="page-item"><a id="paginationLast" class="page-link" th:href="|/projects/viewAll?pageNum=|+(${pagedData.totalPage}-1)+|&pageSize=20|">末页</a></li>
                </ul>
            </nav>
        </div>
        <div id="pageDescription" class="text-center">
            <span th:text="|当前第|+(${pagedData.pageNum}+1)+|页，共${pagedData.totalPage}页|">分页信息</span><br>
            <span th:text="|当前页共${pagedData.curPageSize}条数据，总计${pagedData.totalSize}条数据|">分页数据信息</span>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    var pageSizeSelect = $('#pageSizeSelect');
    var pageSize = parseInt([[${pagedData.pageSize}]]);
    const totalPage=[[${pagedData.totalPage}]];
    if(isNaN(pageSize)) {
        pageSize = 10;
    }
    var pageSizeSelectOptions = pageSizeSelect.find("option");
    for(var i=0;i<pageSizeSelectOptions.length;i++) {
        var option = $(pageSizeSelectOptions[i]);
        var optionValue = parseInt(option.html());
        if(!isNaN(optionValue) && optionValue === pageSize) {
            option.attr("selected","");
        }
    }
    updatePagination(pageSize, false);
    function updatePagination(pageSize,refresh) {
        var allATags = $('#pagination').find("a");
        for(var i=0;i<allATags.length;i++) {
            var aTag = $(allATags[i]);
            var href = aTag.attr("href");
            var splits0 = href.split("?");
            var updatedHref = splits0[0];
            if(splits0.length > 1) {
                updatedHref = updatedHref + "?";
                var splits1 = splits0[1].split("&");
                for(var j=0;j<splits1.length;j++) {
                    var splits2 = splits1[j];
                    var splits3 = splits2.split("=");
                    if(splits3.length > 1) {
                        var key = splits3[0], value = splits3[1];
                        if(key === 'pageNum') {
                            var valueInt = parseInt(value);
                            if(!isNaN(valueInt)) {
                                if(valueInt < 0) {
                                    valueInt = 0;
                                } else if(valueInt > totalPage - 1) {
                                    valueInt = totalPage - 1;
                                }
                                value = "" + valueInt;
                            }
                        } else if(key === 'pageSize') {
                            value = "" + pageSize;
                        }
                        updatedHref = updatedHref + key + "=" + value + "&";
                    } else {
                        updatedHref = updatedHref + splits2 + "&";
                    }
                }
                updatedHref = updatedHref.substring(0, updatedHref.length - 1);
            }
            aTag.attr("href", updatedHref);
        }
        if(refresh) {
            var current = $('#paginationCurrent').attr("href");
            window.location.href = current;
        }
    }
    pageSizeSelect.on("change", function () {
        pageSize = parseInt(pageSizeSelect.val());
        if(!isNaN(pageSize)) {
            updatePagination(pageSize, true);
        }
    });
</script>
</html>