<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/docs.min.css">
    <link rel="stylesheet" href="/resources/fontawesome-all.min.css">
    <title>Default Layout</title>
</head>
<body>

<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

</body>
<script src="/resources/jquery-3.7.1.min.js"></script>
<script src="/resources/bootstrap.bundle.min.js"></script>
<script src="/resources/docs.min.js"></script>
<script src="/resources/common.js"></script>
<script type="text/javascript" layout:fragment="script">
</script>
</html>