<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_with_navbar_and_fileinput}">
<head>
    <title>修改资料</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <br><br><br>
    <h1 class="text-center">修改资料</h1>
    <br><br>
    <div>
        <div id="successMsg" class="alert alert-success col-12 col-md-8 offset-md-2" role="alert" th:if="${success}">
            修改资料成功。
        </div>
        <div id="errorMsg" class="alert alert-warning col-12 col-md-8 offset-md-2" role="alert" th:if="${error}" th:text="${error}">
            A simple warning alert—check it out!
        </div>
        <form id="ProfileForm" th:object="${user}" th:action="@{/user/modifyProfile}" method="post">
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="id">用户id</label>
                    <input type="text" readonly class="form-control" id="id" th:field="*{id}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="用户名由字母、数字和下划线组成，不超过32个字符">
                    <div class="invalid-feedback">用户名长度不能超过32个字符</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="email">电子邮件地址</label>
                    <input type="email" class="form-control" readonly id="email" th:field="*{email}" placeholder="someone@example.com">
                    <div class="invalid-feedback">必须是合法的电子邮件地址</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="（未更改）">
                    <div class="invalid-feedback">密码长度不超过32位</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="verifyPassword">确认密码</label>
                    <input type="password" class="form-control" id="verifyPassword" th:field="*{verifyPassword}" placeholder="（未更改）">
                    <div class="invalid-feedback">两次输入的密码不一致</div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="avatarUrl">头像</label>
                    <div class="d-flex justify-content-center">
                        <img width="200px" height="200px" th:src="*{avatarUrl}" alt="头像">
                    </div>
                    <input type="file" id="avatarInput" class="file">
                    <input type="hidden" id="avatarUrl" name="avatarUrl" th:field="*{avatarUrl}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <label for="description">个人介绍</label>
                    <textarea class="form-control" id="description" th:field="*{description}" placeholder="个人介绍不超过100字符"></textarea>
                    <div class="invalid-feedback">个人介绍不能超过100个字符</div>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-12 col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-primary btn-block">确定修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script layout:fragment="script" th:inline="javascript">
    //文件上传组件，官网https://plugins.krajee.com/file-input#usage
    $('#avatarInput').fileinput({
        theme: 'fa6',
        language: 'zh',
        dropZoneEnabled: true,
        dropZoneTitle: '将图片拖拽到此处',
        uploadUrl: '/file/upload',
        allowedFileExtensions: ['jpg', 'png', 'jpeg'],
        maxFileSize: 2048,   //kb
        maxFileCount: 1,
        uploadAsync: true,
        uploadExtraData: {
            [[${_csrf.parameterName}]]: [[${_csrf.token}]]
        }
    }).on("fileuploaded", function (event,data) {
        // console.log(event);
        // console.log(data);
        var response = data.response;
        if(response.success) {
            var url = response.data.downloadUrl;
            $('#avatarUrl').val(url);
        }
    });
    processErrorMsg();
    function processErrorMsg() {
        var errorMsg = $('#errorMsg');
        var errorMsgText = errorMsg.text();
        try {
            var errorMsgObject = JSON.parse(errorMsgText);
            if(errorMsgObject.success) {
                errorMsg.remove();
            } else {
                errorMsg.text(errorMsgObject.message);
                var errorMsgDataObject = errorMsgObject.data;
                var id=$('#id'), username = $('#username'), email = $('#email'), password = $('#password'),
                    verifyPassword = $('#verifyPassword'), description = $('#description');
                processErrorMsgItem(errorMsgDataObject.id, id);
                processErrorMsgItem(errorMsgDataObject.username, username);
                processErrorMsgItem(errorMsgDataObject.email, email);
                processErrorMsgItem(errorMsgDataObject.password, password);
                processErrorMsgItem(errorMsgDataObject.verifyPassword, verifyPassword);
                processErrorMsgItemOptional(errorMsgDataObject.description, description);
            }
        } catch (e) {
        }
    }
</script>
</html>